<!-- <form #contato = "ngForm" (ngSubmit) = "enviarDados(contato.value)">
    <input type="text" name="nome" placeholder="Insira nome completo" ngModel />
    <br />
    <input type="email" name="email" placeholder="Insira seu email" ngModel />
    <br />
    <input type="text" name="telefone" placeholder="Insira seu telefone" ngModel />
    <br />
    <textarea name="texto" id="texto" cols="30" rows="10" placeholder="Escreva sua mensagem aqui"></textarea>
    <br />
    <input type="submit" value="Enviar">
</form> -->
